Memberships
 * User shold see link for Basic plan on home page
 * User should see link for Pro plan on home page
 * Basic plan link should point to regular Devise sign up forms
 * Pro plan link should points to a custom sign up form