<div class="container text-center">
<h1> About Page</h1>
<p> We are 10 OFF ME. Our company focuses on giving our customers
discounts on major online shopping sites.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, possimus illo aperiam ullam provident quod itaque id similique eos? Dolores, illum, optio recusandae non veniam quam neque reprehenderit aliquam! Nobis!</p>
</div>