<div class="homepagetop text-center container-fluid">
<h1>Welcome to 10 OFF ME</h1>
</div>
<div class= "container home-signup-links">
    <div = "row">
        <div class= "col-md-6">
            <div class="well">
                <h2 class="text-center"> Basic Membership</h2>
                <h4 class="text-center"> Get Basic and Free Access to the Community</h4>
                <br/>
                <%= link_to " Sign up with Basic", "#", class: 'btn btn-default btn-lg btn-block' %>
            </div>
        </div>
        
        <div class = "col-md-6">
            <div class="well">
                <h2 class="text-center"> Pro Membership</h2>
                <h4 class = "text-center"> Sign up for the Pro account and get access to special features</h4>
                <br/>
                <%= link_to " Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
                
            </div>
        </div>
    </div>
</div>